@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', Helvetica, sans-serif;
    --primary-color: lightgreen;
    --secondary-color: green;
    --third-color: darkgreen;
}
body {
    overflow: hidden;
    overscroll-behavior-y: none;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        bottom: -10vh;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}
@keyframes slide-down {
    0% {
        opacity: 0;
        bottom: 10vh;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}
.head {
    height: 100vh;
    width: 100%;
    z-index: 1;

    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.5) 90%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.5) 90%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 90%, rgba(0,0,0,1) 100%);
}
.header-wrapper {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.header-background {
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    
    width: 100%;
    height: 80px;
    position: relative;
    opacity: 0;
    animation: slide-down 1.5s ease-out 0s 1 normal forwards;
    z-index: 2;
}
.header {
    height: 80px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: white;
    z-index: 2;
}
h1 {
    font-size: 1.75em;
}
.nav-button-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-button-list a {
    color: white;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    white-space: nowrap;
    font-size: .9em;
    border-radius: 2rem;
}
.nav-button-list a:hover {
    background-color: var(--secondary-color);
}
.nav-button-list a:active {
    background-color: var(--third-color);
}
.nav-button-list a:visited {
    color: white;
}
.head-img-container {
    width: 100%;
    height: 100vh;
    background: -moz-radial-gradient(ellipse, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    z-index: 1;
}
.head-img {
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/736x/c5/9f/02/c59f02377643129130345997283a7329.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.head img {
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}

.content-wrapper {
    position: absolute;
    top: 0;
    z-index: 5;
    color: white;
    transition: top 1.5s;
    transition-timing-function: ease-in-out;
}
.content {
    height: 100vh;
    width: 100%;
    text-align: justify;
}
.content-wrapper:first-child {
    max-height: -webkit-fill-available;
}
.content-container {
    height: 100%;
    width: 100%;
    padding: 10vh 10vw;
    padding-top: 15vh;
    box-sizing: border-box;
}
.content-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 5vw;
}
.content-flex img {
    height: 100%;
    width: 52.5%;
    object-fit: cover;
    border-radius: 2rem;
}
.content-flex iframe {
    
    -ms-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    
    -ms-transform-origin: 0 0.25;
    -moz-transform-origin: 0 0.25;
    -o-transform-origin: 0 0.25;
    -webkit-transform-origin: 0 0.25;
    transform-origin: 0 0.25;

    height: 125%;
    width: 400%;
    user-select: none;
    display: inline-block;
}
.content-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.content-text h2 {
    padding-bottom: 16px;
    font-size: 1.75em;
}
.content-text a {
    color: white;
}
.content-button {
    margin-top: 48px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2rem;
    width: auto;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    transition: background-color 0.5s;
    cursor: pointer;
}
.content-button:visited {
    background-color: var(--primary-color);
}
.content-button:hover {
    background-color: var(--secondary-color);
    color: white;
}
.content-button:active {
    background-color: var(--third-color);
    color: white;
}
.selector {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    z-index: 10;
    border-radius: 0 0.75em 0.75em 0;
    background-color: rgba(0,0,0,0.5);
    user-select: none;
}
.selector-flex {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.selector-flex>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.line {
    width: 8px;
    height: 2px;
    background-color: white;
    transition: width 1.5s;
}
.subtitle {
    transition: font-weight 1.5s;
}
@media screen and (max-width: 980px) {
    body {
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.5em;
    }
    .header {
        flex-direction: column;
        height: auto;
        padding-top: 8px;
        box-sizing: border-box;
        position: absolute;
        left: 0vw;
        width: 100%;
    }
    .header-background {
        height: 15vh;
    }
    .nav-button-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-button-list a {
        padding: 4px;
    }

    .content-container {
        padding: 0;
    }
    .content-flex {
        flex-direction: column;
        position: relative;
    }
    .content-text {
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        background-color: rgba(0,0,0,0.75);
        padding: 16px;
    }
    .content-flex img {
        width: 100%;
        border-radius: 0;
    }
    .content-flex iframe {
        width: 100%;
        height: 50%;
        margin-top: 64px;
        border-radius: 2em;
    }
}